@import "../../variables.scss";
main {
	display: flex;
	padding: 110px 64px 0;
}

.chats {
	padding: 5px 15px 5px 5px;
	overflow-y: auto;
}

.messages-box {
	background-color: $color-white;
	width: 800px;
	margin-left: 64px;
	margin-bottom: 40px;

	.user-info {
		display: flex;
		justify-content: space-between;
		background-color: $color-milc;
		padding: 28px 60px;
		.user-info_btn {
			display: flex;
			button {
				margin-right: 20px;
				svg {
					height: 24px;
					width: 24px;
				}
			}
		}
	}
	.messages {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 80%;
		padding: 30px 60px;
	}
	.message-form {
		height: 50px;
		border: 1px solid red;
	}
}

.user-m {
	align-self: flex-end;
	div:first-child {
		order: 2;
	}
	div:nth-child(2) {
		order: 1;
	}
}

.user-m [data-user] {
	border-radius: 10px 0 10px 10px !important;
	box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05),
		15px 15px 35px rgba(112, 124, 151, 0.05);
	background: $color-white !important;
	color: $color-gray;
}
