.avatar{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
}

.avatar img {
	height: 100%;
	width: 100%;
}

.small {
	height: 36px;
	width: 36px;
}

.middle {
	height: 54px;
	width: 54px;
}

.large {
	height: 96px;
	width: 96px;
}

.rounded {
	border-radius: 50%;
}

.shadow {
	box-shadow: 0 0 5px black;
}
